<?xml version="1.0" encoding="UTF-8" standalone="no"?><entities>
	<entity>
		<entity-name>com.cmc.entity.Item</entity-name>
		<entity-width>120</entity-width>
		<entity-height>226</entity-height>
		<entity-X-Coordinate>520</entity-X-Coordinate>
		<entity-Y-Coordinate>59</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.cmc.entity.Blog</entity-name>
		<entity-width>120</entity-width>
		<entity-height>186</entity-height>
		<entity-X-Coordinate>203</entity-X-Coordinate>
		<entity-Y-Coordinate>239</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.cmc.entity.Role</entity-name>
		<entity-width>120</entity-width>
		<entity-height>146</entity-height>
		<entity-X-Coordinate>234</entity-X-Coordinate>
		<entity-Y-Coordinate>11</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.cmc.entity.User</entity-name>
		<entity-width>120</entity-width>
		<entity-height>206</entity-height>
		<entity-X-Coordinate>20</entity-X-Coordinate>
		<entity-Y-Coordinate>5</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>
</entities>